@font-face {
    font-family: "OngleapGeumgangMunjaHalmaeche";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGeumgangMunjaHalmaeche/OngleapGeumgangMunjaHalmaeche.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGeumgangMunjaHalmaeche/OngleapGeumgangMunjaHalmaeche.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGeumgangMunjaHalmaeche/OngleapGeumgangMunjaHalmaeche.ttf") format("truetype");
    font-display: swap;
}

.OngleapGeumgangMunjaHalmaeche {
    font-family: "OngleapGeumgangMunjaHalmaeche";
}
